<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>

<body>
<form th:method="POST" th:action=@{/image} th:object="${jsonmodel}">
    <label for="height">Enter height: </label>
    <input type="text" th:field="*{height}" id="height"/>
    <br/>
    <label for="weigh">Enter weigh: </label>
    <input type="text" th:field="*{weigh}" id="weigh"/>
    <br/>
    File to upload: <input type="file" th:field="*{multipartFile}" id="multipartFile"><br />
    <input type="submit" value="Upload"> Press here to upload the file!
</form>

</body>
</html>